@layer animations {
    :root {
        --animation-duration-short: 0.2s;
        --animation-duration-long: 0.5s;
    }

    // Apply transition on theme change
    * {
        transition-duration: var(--animation-duration-long);
        transition-property: background-color, border-color;
    }

    *::before,
    *::after {
        transition-duration: var(--animation-duration-long);
        transition-property: background-color, border-color;
    }

    // Slide up animation
    @keyframes slide-up {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .slide-up {
        animation: slide-up var(--animation-duration-long) ease-out forwards;
    }

    // ------------------------|
    // ELEMENT PLUS ANIMATIONS |
    // ------------------------|
    .fade-in-linear-enter-active,
    .fade-in-linear-leave-active {
        transition: var(--animation-duration-short) linear;
    }

    .fade-in-linear-enter-from,
    .fade-in-linear-leave-to {
        opacity: 0;
    }

    .el-fade-in-linear-enter-active,
    .el-fade-in-linear-leave-active {
        transition: var(--animation-duration-short) linear;
    }
    .el-fade-in-linear-enter-from,
    .el-fade-in-linear-leave-to {
        opacity: 0;
    }

    .el-fade-in-enter-active,
    .el-fade-in-leave-active {
        transition: all var(--animation-duration-short) cubic-bezier(0.55, 0, 0.1, 1);
    }
    .el-fade-in-enter-from,
    .el-fade-in-leave-active {
        opacity: 0;
    }

    .el-zoom-in-center-enter-active,
    .el-zoom-in-center-leave-active {
        transition: all var(--animation-duration-short) cubic-bezier(0.55, 0, 0.1, 1);
    }
    .el-zoom-in-center-enter-from,
    .el-zoom-in-center-leave-active {
        opacity: 0;
        transform: scaleX(0);
    }

    .el-zoom-in-top-enter-active,
    .el-zoom-in-top-leave-active {
        opacity: 1;
        transform: scaleY(1);
        transition: var(--animation-duration-short);
        transform-origin: center top;
    }
    .el-zoom-in-top-enter-from,
    .el-zoom-in-top-leave-active {
        opacity: 0;
        transform: scaleY(0);
    }

    .el-zoom-in-bottom-enter-active,
    .el-zoom-in-bottom-leave-active {
        opacity: 1;
        transform: scaleY(1);
        transition: var(--animation-duration-short) ease-in-out;
        transform-origin: center bottom;
    }
    .el-zoom-in-bottom-enter-from,
    .el-zoom-in-bottom-leave-active {
        opacity: 0;
        transform: scaleY(0);
    }

    .el-zoom-in-left-enter-active,
    .el-zoom-in-left-leave-active {
        opacity: 1;
        transform: scale(1, 1);
        transition: var(--animation-duration-short) ease-in-out;
        transform-origin: top left;
    }
    .el-zoom-in-left-enter-from,
    .el-zoom-in-left-leave-active {
        opacity: 0;
        transform: scale(0.45, 0.45);
    }

    .collapse-transition {
        transition:
            var(--animation-duration-short) height ease-in-out,
            var(--animation-duration-short) padding-top ease-in-out,
            var(--animation-duration-short) padding-bottom ease-in-out;
    }

    .el-collapse-transition-leave-active,
    .el-collapse-transition-enter-active {
        transition:
            var(--animation-duration-short) max-height ease-in-out,
            var(--animation-duration-short) padding-top ease-in-out,
            var(--animation-duration-short) padding-bottom ease-in-out;
    }

    .horizontal-collapse-transition {
        transition:
            var(--animation-duration-short) width ease-in-out,
            var(--animation-duration-short) padding-left ease-in-out,
            var(--animation-duration-short) padding-right ease-in-out;
    }

    .el-list-enter-active,
    .el-list-leave-active {
        transition: all 1s;
    }

    .el-list-enter-from,
    .el-list-leave-to {
        opacity: 0;
        transform: translateY(-30px);
    }

    .el-list-leave-active {
        position: absolute !important;
    }

    .el-opacity-transition {
        transition: opacity var(--animation-duration-short) cubic-bezier(0.55, 0, 0.1, 1);
    }
}
