@layer el-button {
    :root {
        --button-font-weight: var(--font-weight-medium);
        --button-font-size: var(--font-size-m);
        --button-padding: var(--spacing-s);
        --button-border-radius: var(--border-radius-base);

        --button-bg-color: var(--color-text);
        --button-text-color: var(--color-bg-light);
        --button-disabled-text-color: var(--color-text-light);
        --button-disabled-bg-color: var(--color-bg-light);
        --button-divide-border-color: rgba(var(--color-bg-dark), 0.5);
        --button-hover-text-color: var(--color-bg-dark);
        --button-hover-bg-color: var(--color-text);
        --button-active-text-color: var(--button-hover-text-color);
        --button-active-bg-color: var(--button-hover-bg-color);
        --button-outline-color: var(--color-primary);
        --button-hover-link-text-color: var(--color-info);
        --button-active-color: var(--color-primary);
    }

    .el-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        white-space: nowrap;
        cursor: pointer;
        padding: var(--button-padding);
        color: var(--button-text-color);
        text-align: center;
        box-sizing: border-box;
        outline: none;
        transition: var(--animation-duration-short);
        font-weight: var(--button-font-weight);
        font-size: var(--button-font-size);
        user-select: none;
        vertical-align: middle;
        -webkit-appearance: none;
        background-color: var(--button-bg-color);
        border: none;
        border-radius: var(--button-border-radius);

        &:hover span,
        &:hover i {
            transform: scale(1.05);
            outline: none;
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus-visible {
            outline: 2px solid var(--button-outline-color);
            outline-offset: 1px;
            transition:
                outline-offset 0s,
                outline 0s;
        }

        & span {
            transition: var(--animation-duration-short);
            display: inline-flex;
            align-items: center;
        }

        & .el-icon {
            transition: var(--animation-duration-short);
            margin-right: var(--spacing-xs);
        }

        // Different types
        &--primary {
            --button-active-bg-color: var(--color-primary);
            --button-hover-bg-color: var(--color-primary);
            --button-bg-color: var(--color-primary);
        }
    }
}
